
.Illustrate-box{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #0a8;
}
.Illustrate-box >thead{
    border: 1px solid #0a8;
}
.thead{
    color: #fff;
    border-bottom: 3px solid #085;
}
.thead >th{
    padding: 5px 15px;

}
.wordWrap{
    word-break:break-word;
}

.Illustrate-tbody{
    background-color: #fff;
}
.Illustrate-tbody-content {
border: 1px solid #0a8;
}
.Illustrate-tbody-content >td{
    width: 10%;
    text-align: center;
    padding: 5px 10px;

}

/* -----sortName */

.Illustrate-out-box{
display: flex;
width: 80%;
margin:0 auto;
box-sizing: border-box;
}

.Illustrate-sort-box{
    border:3px solid #0a8;
    width:80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    list-style-type: none;
    color: #fff;
    box-sizing: border-box;
}
.Illustrate-sort-title{
    width:10%;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/image/header01.jpg");

}

.Illustrate-sort-content{
    width: 100%;
}
.Illustrate-sort-list{
    margin:3px 0;
    /* padding: 10px 0; */
}

.Illustrate-sort-list-content{
    display: flex;
}

.Illustrate-sort-list-content li:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.Illustrate-sort-list-content label{
    width: 10%;
}

.sort-list{
    width:20%;
    padding: 3px;
    margin: 2px;
    text-align: center;
    border-radius: 8px;
    color:#fff;
    border:3px solid #999
}

.sort-list-input{
display: none;
}

.Illustrate-count-data{
    transition: 5s;
    color:#000;
    padding:15px 0;
    font-size: 24px;
    text-align: center;
}


@media (max-width: 760px){
    .Illustrate-box{
        font-size: 0.5rem;
        width: auto;
        margin: 0;
        padding: 0;
    }

}